body {
  font-family: Arial, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;


}

section{
  width: 100%;
}


main {
  width: 100%;
  display: flex;
  overflow-y: auto;
  width: 100%;
  padding: 0 20px;
  align-items: stretch; 
}



.webtitle{
 
  height: 20%;
 text-align: center;
}



header, footer {
    background-color: #e95b5b;
    color: antiquewhite;
    text-align: center;
    padding: 1em;
  

}

a {
  color: rgb(34, 26, 26);
}



article {
    flex: 2; /* Takes 75% of the space */
    height: 100%;
    overflow-y: auto;
    padding: 1em;
    background-color: #e5abab;
    overflow-y: auto;
}

aside {
    flex: 1;
     width: 25%; 
     height: 100%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    overflow-y: auto;
    font-style: italic;
    background-color: lightgray

  
    
  }



footer {
   
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}


#disqus_thread {
  width: 100%;
  height: 400px; /* or whatever height you prefer */
  margin-top: 20px;
}

